<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   
   	<bean name="address1" class="com.telcoma.Employee.Address" >
	 <property name="city" value="Chandigarh_new"></property>
		<property name="hNo" value="28698"></property> 
	</bean>
   
   </beans>